@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Cookie');
/* Taken from https://codepen.io/beben-koben/pen/gfuvc, I'm not good at css :( */
.rainbow {
-webkit-animation:rainbow 2.5s infinite;
-ms-animation:rainbow 2.5s infinite;
-o-animation:rainbow 2.5s infinite;
animation:rainbow 2.5s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #af0000;}
10% {color: #fa8000;}
20% {color: #0f0f00;}
30% {color: #60fd00;}
40% {color: #00fa00;}
50% {color: #00fa60;}
60% {color: #00fafa;}
70% {color: #0060fa;}
80% {color: #0000fa;}
90% {color: #6000fa;}
100% {color: #ff0060;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
/* The rest is my code <3, but it you can modify it to your liking :D*/
body{
  text-align: center;
  background-color: #ffffff;
  font-size: 18px;
}
input{
	color:black;
	font-family: "Indie Flower"
}
button{
	color:black;
	font-family: "Cookie";
	font-size: 22px;
}
.save:hover{
	-webkit-animation: save 5s infinite;
}
.warning:hover{
	-webkit-animation: warning 5s infinite;
	border-radius: 10;
}
@-webkit-keyframes save{
	0% { color: #63ff4f; opacity: 1;}
	10% { color: #63ff4f; opacity: 0.9; }
	20% { color:#63ff4f; opacity: 0.8;}
	30% {color:#63ff4f; opacity: 0.7;}
	40% { color:#63ff4f; opacity: 0.6;}
	50% { color:#63ff4f; opacity: 0.5;}
	60% { color:#63ff4f; opacity: 0.4;}
	70% { color:#63ff4f; opacity: 0.3;}
	80% { color:#63ff4f; opacity: 0.2}
	90% { color:#63ff4f; opacity: 0.1}
	100% { color:#63ff4f; opacity: 0.6}
}
@-webkit-keyframes warning{
	0% { color: #f22626; opacity: 1;}
	10% { color: #f22626; opacity: 0.9; }
	20% { color:#f22626; opacity: 0.8;}
	30% {color:#f22626; opacity: 0.7;}
	40% { color:#f22626; opacity: 0.6;}
	50% { color:#f22626; opacity: 0.5;}
	60% { color:#f22626; opacity: 0.4;}
	70% { color:#f22626; opacity: 0.3;}
	80% { color:#f22626; opacity: 0.2}
	90% { color:#f22626; opacity: 0.1}
	100% { color:#f22626; opacity: 0.6}
}
@-webkit-keyframes easterEgg{
	0% {opacity: 0.1;}
	1% {opacity: 0.2;}
	3%{opacity: 0.3;}
	4%{opacity: 0.4;}
	5%{opacity: 0.5;}
	6%{opacity: 0.6;}
	7%{opacity: 0.7;}
	8%{opacity: 0.8;}
	9%{opacity: 0.9;}
	10%{opacity: 1.0;}
}
#easterEggOne:hover(){
	opacity: 0;
	-webkit-animation: easterEgg;
}